.sidebar-container{
  width: 100%;
  max-width: 20%;
  max-height: 95%;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(4, 4, 29, 0.185);
  background-color: rgba(38, 38, 95, 0.445);
  border-radius: 10px;
  margin-top: 0.4rem;
  margin-left: 1.4rem;
  /* z-index: 1000; */
}



.sidebar-container .profile-image{
  height: 100%;
  max-height: 40%;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
   gap: 1rem;
}
.sidebar-container .profile-image img{
  width: 100%;
  max-width: 100px; 
  object-fit: cover;
  border-radius: 100px;
  margin-top: 1.6rem;
}
.sidebar-container .profile-image a{
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.sidebar-container .other-pages-links-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;

}
.other-pages-links-container a{
  min-width: 100%;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.active{
  border: 2px solid rgb(18, 219, 95);
  display: none;
  height: 30px;
  margin-top: 1rem;
  margin-left: 0.5rem;
  position: relative;
  top: -47%;
  left: 1rem;
  
}

.active i{
  border: 2px solid red;
  height: 100%;
  font-size: 24px;
}

@media (max-width:554px) {
  .sidebar-container{
    display: none;
  }
  .active{
    display: inline-block;
   
  }

}