.sidebar-container{
  width: 100%;
  max-width: 250px;
  /* max-height: 95%;; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(4, 4, 29, 0.87);
  border-radius: 10px;
  margin-top: 0.4rem;
  margin-left: 1.4rem;
  position: fixed; 
  top: 1;
  left: -20px;
  transition:  right 1s ease-in-out;
  color: aliceblue;
  z-index: 1000;   
}



.sidebar-container .profile-image{
  height: 100%;
  max-height: 40%;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
   gap: 1rem;
}
.user-name-container{
  height: 50px;
  padding: 0.3rem 0.4rem;
}
.sidebar-container .profile-image img{
  width: 100px;
  height:100px;
  object-fit: cover;
  border-radius:50%;
  margin-top: 1.6rem;
}
.sidebar-container .profile-image a{
  text-decoration: none;
  font-weight: bold;
  color: white;
}
.sidebar-container .other-pages-links-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;

}
.other-pages-links-container a{
  min-width: 100%;
  height: 2rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.active{
  border: 2px solid rgb(18, 219, 95);
  height: 30px;
  margin-top: 1rem;
  margin-left: 0.5rem;
  position: fixed;
  top: 0%;
  left: 0.4rem;
  cursor: pointer;
}

.active i{
  font-size: 24px;
}
.close-icon{
  position: absolute;
  right: 10px;
  top: 18px;
  border-radius: 50%;
  height: 30px;
  font-size: 24px;
  cursor: pointer;
}
