.links-container {
  flex: 1;
  background-color: rgba(38, 38, 95, 0.445);
  border-radius: 10px;
  height: 80%;
  overflow: hidden;
  overflow: scroll;
  padding: 0.3rem 0.4rem;
  margin: 0.4rem 0rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 0.6rem;
  /* row-gap: 10px; */
}
.link {
  background-color: rgba(38, 38, 95, 0.918);
  width: 240px;
  height: 280px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.8rem;
  border-radius: 10px;
  opacity: 0.8;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.link:hover {
  opacity: 1;
  height: 290px;
}
.link a {
  color: white;
  font-weight: bold;
}
.link img {
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(60%);
}
.link .link-text-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.4rem;
  justify-content: space-between;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
}

@media (max-width : 550px) {
    .links-container{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;

    }
}


