.skill-container{
     flex: 1;
  background-color: rgba(38, 38, 95, 0.445);
  border-radius: 10px;
  margin-top: 0.4rem;
  padding: 0.3rem 0.6rem;
  margin-right: 1.4rem; 
  gap: 0.4rem;
  height: 80%;
   width: 70%;
   overflow: auto;
   overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
  cursor: pointer;
  justify-items: center;
  align-items: center;
}
.skill-box{
    width: 300px;
    background-color: rgba(38, 38, 95, 0.445);
    border-radius: 8px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}
.skill-box:hover{
    opacity: 1;
    height:310px;
    width: 310px;
}
.skill-box .tech-heading{
    font-weight: bold;
    height: 20%;
    letter-spacing: 2px;
    padding: 1rem 0.9rem;
    background-color: rgba(38, 38, 95, 0.918);
    border-radius: 4px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.skill-box .tech-languages{
    margin-left: 1rem;
    line-height: 30px;
    width: 80%;
}

@media (max-width : 550px) {
    .skill-container{
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }
}