
.content-preview-container{
  flex: 1;
  border-radius: 10px;
  height: 80%;
  width: 70%;
  display: flex;
  gap: 1rem;
  padding: 0.4rem 0.8rem;
  margin-top: 0.4rem;
  /* margin-right: 1.4rem; */
}

.content-preview-container .text-container{
  background-color: rgba(38, 38, 95, 0.445);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;align-items: center;
  padding: 0.4rem 1.4rem;
}
.content-preview-container .text-container .name-container{
  width: 100%;
  height: 100px;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(38, 38, 95, 0.445);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.8rem;
  gap: 0.2rem;
  flex-shrink: 1;
}
.content-preview-container .text-container .name-container .intro{
  margin-left: 1.8rem;
  color: aqua;
}
.name-container p{
  white-space: nowrap;
}
.content-preview-container .preview-container{
  background-color: rgba(38, 38, 95, 0.445);
  border-radius: 10px;
  /* flex: 1; */
  width: 100%;
  height: 100%;
}
.preview-container .graphic-container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.4rem;
  height: 100%;
  gap: 1rem;
  flex: 1;
  
}
.preview-container .graphic-container img{
  /* max-height: 250px; */
  max-width: 100%;
  border-radius: 10px;
}
.preview-container .graphic-container .graphic-container-text{
  font-size: 14px;
  padding: 0.2rem 0.8rem;
  font-weight: bold;
  background-color: rgba(38, 38, 95, 0.445);
  border-radius: 1rem;
  overflow: scroll;
}





@media (max-width:554px) {
  .content-preview-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    margin-right: 0px;
    z-index: -100px
  }
  .content-preview-container .text-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
.name-container{
 display: flex;
height: 60px;
margin-top: 0.6rem;
}
  .text-container .name-container p{
    font-weight: 50;
    font-size: 14px;
    margin: 0;
  }
  
  .graphic-container{
    width: 100%;
  }
  .graphic-container-text{
    display: flex;
    height: 100%;
  }
}


