
.content-preview-container{
  flex: 1;
  /* border: 0.1px solid wheat; */
  border-radius: 10px;
  height: 80%;
  width: 70%;
  display: flex;
  gap: 1rem;
  padding: 0.4rem 0.8rem;
  margin-top: 0.4rem;
  margin-right: 1.4rem;
}

.content-preview-container .text-container{
  background-color: rgba(38, 38, 95, 0.445);
  border-radius: 10px;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;align-items: center;
}
.content-preview-container .text-container .name-container{
  width: 80%;
  height: 20%;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(38, 38, 95, 0.445);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 0.4rem 1.4rem;
  gap: 0.4rem;
}
.content-preview-container .text-container .name-container .intro{
  margin-left: 1.8rem;
  color: aqua;
}
.content-preview-container .preview-container{
  background-color: rgba(38, 38, 95, 0.445);
  border-radius: 10px;
  flex: 1;
  width: 50%;
  height: 100%;
}
.preview-container .graphic-container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.4rem;
  height: 100%;
  gap: 1rem;
  
}
.preview-container .graphic-container img{
  max-height: 250px;
  max-width: 100%;
  border-radius: 10px;
}
.preview-container .graphic-container .graphic-container-text{
  font-size: 14px;
  min-height: 60%;
  max-width: 90%;
  padding: 0rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 25px;
  font-weight: bold;
  background-color: rgba(38, 38, 95, 0.445);
  border-radius: 1rem;
  overflow: auto;
}
