*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
.app-container {
    width: 100vw;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}
body{
background-color: #0f0136;
    color: white;
}